<div class = "form">

  <h1>{{greetings}} from {{country}}</h1>

  <form name="country-form" action="/form" method="POST">
    <input name="greetings" value="local greeting">
    <span> from </span>
    <input name="country" value="country">
    <button>Say hello from your favourite country</button>
  </form>

</div>
